<h3>Add group</h3>

<!-- TODO: kiedy dodać grupe bez name przeskakuje na edit group dziwnie, zamiast wyswietlic error message -->
<form method="post" enctype="multipart/form-data" action="/auth/groups">
    <!-- Error Message Placeholder -->
    {{if .ErrorMessage}}
    <div id="schedulerConfigError" class="alert alert-danger">
        {{.ErrorMessage}}
    </div>
    {{end}}

    <div class="form-group">
      <label for="Name">Name</label>
      <input class="form-control" name="name" id="name" value="{{if .}}{{.Name}}{{end}}">
    </div>

    <!-- Button to toggle the collapse, initially shows "Expand" -->
    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#scheduleSettings" aria-expanded="false" aria-controls="scheduleSettings" onclick="this.blur();" style="background-color: white; border-color: #6c757d; color: #6c757d;">
      Show schedule configuration
    </button>

    <!-- Schedule Configuration -->    
    <div class="collapse" id="scheduleSettings">
      <!-- Start date-->
      <div class="form-group">
        <label for="StartDate">Start Date</label>
        <input type="date" class="form-control" name="start_date" id="StartDate" value="{{if .Schedule}}{{.Schedule.StartDate}}{{end}}">
      </div>

      <!-- End date-->
      <div class="form-group">
        <label for="EndDate">End Date</label>
        <input type="date" class="form-control" name="end_date" id="EndDate" value="{{if .Schedule}}{{.Schedule.EndDate}}{{end}}">
      </div>  

      <!-- Weekday selection -->
      <div class="form-group">
        <label for="Weekday">Day of week, e.g. Monday</label>
        <select class="form-control" name="weekday" id="Weekday">
          <option value="Monday" selected>Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>
      </div>

      <!-- Day of month selection -->
      <div class="form-group">
        <label for="DayOfMonth">Day of month, e.g. 1</label>
        <input type="number" class="form-control" name="monthday" id="DayOfMonth" value="{{if .Schedule}}{{.Schedule.Monthday}}{{else}}1{{end}}" min="1" max="31">
      </div>

      <!-- Timezone Selection -->
      <div class="form-group">
        <label for="Timezone">Timezone</label>
        <select class="form-control" name="timezone" id="Timezone">
          <!-- Timezone options will be populated here -->
        </select>
      </div>

      <!-- Time Input -->
      <div class="form-group">
        <label for="Time">Time of day, e.g. 09:00 AM</label>
        <input type="time" class="form-control" name="time" id="Time" value="{{if .Schedule}}{{.Schedule.Time}}{{else}}09:00{{end}}">
      </div>

      <!-- Selection for Interval Type -->
      <div class="form-group">
        <label>Interval Type</label><br>
        <input type="radio" id="intervalTypeWeeks" name="interval_type" value="weeks" checked>
        <label for="intervalTypeWeeks">Weeks</label><br>
        <input type="radio" id="intervalTypeMonths" name="interval_type" value="months">
        <label for="intervalTypeMonths">Months</label>
      </div>

      <!-- Unified Interval Input -->
      <div class="form-group">
        <label for="Interval">Interval (specified in weeks or months)</label>
        <input type="number" class="form-control" name="interval" id="Interval" value="{{if .Schedule.Interval}}{{.Schedule.Interval}}{{else}}2{{end}}" min="1">
      </div>
    </div>

    <!-- Script to adjust the button text based on the collapse state -->
    <script>
      // Listen for the collapse to be shown and adjust the button text
      $('#scheduleSettings').on('show.bs.collapse', function () {
        $('[data-target="#scheduleSettings"]').text('Hide schedule configuration');
      });
    
      // Listen for the collapse to be hidden and adjust the button text back
      $('#scheduleSettings').on('hide.bs.collapse', function () {
        $('[data-target="#scheduleSettings"]').text('Show schedule configuration');
      });
    </script>

    <!-- Script to toggle input fields based on the selected interval type -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // Function to enable/disable inputs based on the selected interval type
        function toggleInputFields() {
          const isWeeksSelected = document.getElementById('intervalTypeWeeks').checked;
          document.getElementById('Weekday').disabled = !isWeeksSelected;
          document.getElementById('DayOfMonth').disabled = isWeeksSelected;
        }

        // Add event listeners to the interval type radio buttons
        document.getElementById('intervalTypeWeeks').addEventListener('change', toggleInputFields);
        document.getElementById('intervalTypeMonths').addEventListener('change', toggleInputFields);

        // Call the function on page load to set the correct state
        toggleInputFields();
      });
    </script>

    <!-- Script to populate timezones -->
    <script>
      function populateTimezones() {
        const timezoneSelect = document.getElementById('Timezone');
        const timezones = moment.tz.names(); // Get list of timezone names

        timezones.forEach((tz) => {
          const option = document.createElement('option');
          option.value = tz;
          option.text = tz;
          timezoneSelect.appendChild(option);
        });

        // Set local timezone as default
        try {
          const localTimezone = moment.tz.guess();
          timezoneSelect.value = localTimezone;
        } catch (e) {
          console.error('Could not set local timezone:', e);
        }
      }

      // Populate timezones and set local timezone on page load
      document.addEventListener('DOMContentLoaded', populateTimezones);
    </script>

    <button class="btn btn-success">Save</button>
</form>