<!DOCTYPE html>
<html>
<head>
    <title>Job sender</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/main">Job sender</a>
                {{if .GroupName}} 
                <a class="navbar-text" href="/auth/groups/{{.GroupID}}/edit">Group: <strong>{{.GroupName}}</strong></a>
                {{end}}
            </div>
            {{if .IsLoggedIn}}
            <div class="navbar-right">
                <p class="navbar-text">Signed in as <strong>{{.Email}}</strong> | 
                  {{if .IsVerified}}Verified{{else}}Not Verified{{end}}</p>
                <form action="/logout" method="post" class="navbar-form" style="display: inline-block;">
                    <button type="submit" class="btn btn-default">Logout</button>
                </form>
            </div>
            {{end}}
        </div>
      </nav>
    <div class="container">
      {{template "body" .Data}}
    </div>
</body>
</html>